$font: "Poppins", sans-serif;
$accent-color: #cfb579;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex($al, $js) {
  display: flex;
  align-items: $al;
  justify-content: $js;
}

@mixin media($px) {
  @media screen and (max-width: $px) {
    @content;
  }
}

@mixin button {
  border: 0;
  outline: 0;
  background: $accent-color;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.2s linear;
  font-family: $font;
  &:hover {
    background-color: darken($accent-color, 10%);
  }
}
